.label-component {
    border-radius: 4px;
}

.left.label-component {
    border-radius: 4px 0 0 4px;
}

.right.label-component {
    border-radius: 0 4px 4px 0;
}

.shift * {
    background-color: rgb(110, 110, 110);
    color: white;
    text-decoration: none;
    padding: 0.2em;
}

.shift *:hover {
    background-color: rgb(180, 180, 180);
}

.manual.shift * {
    background-color: rgb(80, 80, 140);
}

.manual.shift *:hover {
    background-color: rgb(100, 100, 160);
}
.delete-btn {
    /*width: 24px;*/
    text-decoration: none;
    color: white;
    padding: 0.2em;
}
.label {
    display: block;
}

.data-table {
    border-collapse: collapse;
}

.data-table tr {
    vertical-align: top;
}

.data-table td, .data-table th {
    border: 1px solid rgb(80, 80, 80);
}

.data-table tbody tr:nth-child(2n) {
    background-color: rgb(230, 230, 230);
}

.dialog-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.85;
    background-color: white;
}

.dialog {
    position: fixed;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    background: white;
    box-shadow: 5px 5px 10px black;
}

.hidden {
    display: none
}
