<!DOCTYPE html>
<html>
    <head>
        <title>Schicht-Detailansicht</title>
        <link rel="stylesheet" href="/static/global_styles.css">
    </head>
    <body>
        <div id="app" v-if="loaded">
            <div class="tab-bar">
                <ul class="tab-list">
                    <li><a class="tab" href="/departments">{{ tr("Departments") }}</a></li>
                    <li><a class="tab" href="/shifts">{{ tr("Shifts") }}</a></li>
                    <li><a class="tab" href="/volunteers">{{ tr("Volunteers") }}</a></li>
                </ul>
            </div>
            <h1>{{ shift.name }}</h1>
            <table class="detail-table">
                <tr>
                    <th>{{ tr("ID") }}</th>
                    <td>{{ shift.id }}</td>
                </tr>
                <tr>
                    <th>{{ tr("Name") }}</th>
                    <td><input type="text" v-model="shift.name"></td>
                </tr>
                <tr>
                    <th>{{ tr("Date") }}</th>
                    <td><input type="date" v-model="shift.date"></td>
                </tr>
                <tr>
                    <th>{{ tr("Shift starts") }}</th>
                    <td><input type="time" v-model="shift.starts"></td>
                </tr>
                <tr>
                    <th>{{ tr("Shift ends") }}</th>
                    <td><input type="time" v-model="shift.ends"></td>
                </tr>
                <tr>
                    <th>{{ tr("Minor") }}</th>
                    <td><input type="checkbox" v-model="shift.minors"></td>
                </tr>
                <tr>
                    <th>{{ tr("Volunteer Count") }}</th>
                    <td><input type="number" v-model.number="shift.volunteers"></td>
                </tr>
                <tr>
                    <th>{{ tr("Multiplier") }}</th>
                    <td><input type="number" v-model.number="shift.multiplier"></td>
                </tr>
                <tr>
                    <th>{{ tr("Assigned Volunteers") }} ({{ shift.assigned_volunteers.length }})</th>
                    <td>
                        <ul class="label-list">
                            <li v-for="vol in shift.assigned_volunteers">
                                <assigned-volunteer :vol="vol"></assigned-volunteer>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>{{ tr("Possible Volunteers") }} ({{ desiring_volunteers.length }})</th>
                    <td>
                        <ul class="label-list">
                            <li v-for="vol in desiring_volunteers">
                                <free-volunteer :vol="vol"></free-volunteer>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
            <button @click="storeShift">{{ tr("Save") }}</button>
        </div>
        <script id="assigned_volunteer_template" type="text/x-vue-template">
            <span class="shift label">
                <a :href="'/volunteers#' + vol" class="left label-component">
                    {{ $root.volunteers[vol].firstname + ' ' + $root.volunteers[vol].lastname }}
                </a><a href="#"
                       class="delete-btn right label-component"
                       @click.prevent="unassignVolunteer">&#10005;</a>
            </span>
        </script>
        <script id="free_volunteer_template" type="text/x-vue-template">
            <span class="shift label">
                <a :href="'/volunteers#' + vol.id" class="left label-component">
                    {{ vol.firstname + ' ' + vol.lastname }}
                </a><a href="#"
                       class="right label-component"
                       @click.prevent="quickAssignVolunteer">&#10003;</a>
            </span>
        </script>
        <script src="/static/vue.js"></script>
        <script src="/static/translate.js"></script>
        <script type="application/javascript">
            'use strict';
            var pathComponents = window.location.pathname.split('/');
            var shiftId = parseInt(pathComponents[pathComponents.length - 1]);

            Vue.component('assigned-volunteer', {
                props: ['vol'],
                template: document.getElementById("assigned_volunteer_template").textContent,
                methods: {
                    unassignVolunteer: function() {
                        var index = this.$root.shift.assigned_volunteers.indexOf(this.vol);
                        if (index != -1) {
                            this.$root.shift.assigned_volunteers.splice(index, 1);
                        }
                    }
                }
            });
            Vue.component('free-volunteer', {
                props: ['vol'],
                template: document.getElementById("free_volunteer_template").textContent,
                methods: {
                    quickAssignVolunteer: function() {
                        this.$root.shift.assigned_volunteers.push(this.vol.id);
                    }
                }
            });
            var app = new Vue({
                data: {
                    shift: {
                        name: "Shift Name",
                        assigned_volunteers: []
                    },
                    volunteers: {},
                    desiring_volunteers: [],
                    loaded: false
                },
                el: document.getElementById('app'),
                methods: {
                    storeShift: function() {
                        var xhr = new XMLHttpRequest();
                        xhr.open('PUT', '/api/shifts/' + shiftId);
                        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                        xhr.send(JSON.stringify(this.shift));
                    }
                }
            });
            window.app = app;

            var open_requests = [];
            open_requests.push(fetch('/api/volunteers.json')
                .then(function(response) { return response.json(); })
                .then(function(json) {
                    var volus = {};
                    for (let vol of json.volunteers) {
                        volus[vol.id] = vol
                    }
                    app.volunteers = volus;
                    app.desiring_volunteers = json.volunteers.filter(
                        (v) => v.desired_shifts.some((s) => s == shiftId)
                    );
                })
            );
            open_requests.push(fetch('/api/shifts.json')
                .then(function(response) { return response.json(); })
                .then(function(json) {
                    for (let shift of json.shifts) {
                        if (shift.id == shiftId) {
                            app.shift = shift;
                            break;
                        }
                    }
                })
            );
            open_requests.push(fetch('/static/translations.json')
                .then(function(response) { return response.json();})
                .then(function(translations) {
                    app.tr = Translator(translations, "de");
                })
            );
            Promise.all(open_requests).then(function() {
                app.loaded = true;
            });
        </script>
    </body>
</html>
<!-- vim: set ts=4 sw=4 et: -->
