<!DOCTYPE html>
<html>
    <head>
        <title>SiSa Helfer</title>
        <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/global_styles.css">
    </head>
    <body>
        <h1>SiSa Helfer</h1>
        <form method="POST" action="/volunteers" enctype="multipart/form-data">
            <input type="file" name="volunteers_csv">
            <input type="submit">
        </form>
        <div id="app">
            <volunteer-table :volunteers="volunteers"></volunteer-table>
            <modal-dialog ref="assignShiftDialog">
                <select id="assignShiftSelection">
                    <option v-for="shift in shifts" :value="shift.id">{{ shift.name }}</option>
                </select>
                <button @click="$refs.assignShiftDialog.visible = false">Cancel</button>
                <button @click="finishAssignShift">Assign</button>
            </modal-dialog>
        </div>
        <script id="volunteer_table_template" type="text/x-vue-template">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nachname</th>
                        <th>Vorname</th>
                        <th>U18</th>
                        <th>Zugewiesene Schichten</th>
                        <th>Wunschbereiche</th>
                        <th>Wunschschichten</th>
                        <th>Min. #</th>
                        <th>Max. #</th>
                    </tr>
                </thead>
                <tbody>
                    <volunteer-table-row
                        v-for="(volunteer, index) in volunteers"
                        :key="volunteer.id"
                        :volunteer="volunteer"
                        :vol-index="index">
                    </volunteer-table-row>
                </tbody>
            </table>
        </script>
        <script id="volunteer_table_row_template" type="text/x-vue-template">
            <tr>
                <td>{{ volunteer.id }}</td>
                <td>{{ volunteer.lastname }}</td>
                <td>{{ volunteer.firstname }}</td>
                <td>{{ formatBoolean(volunteer.isminor) }}</td>
                <td>
                    <template v-for="(shift, index) in volunteer.assigned_shifts">
                        <assigned-shift
                            :shift="shift"
                            :shift-name="shiftName(shift.id)"
                            :shift-index="index"
                            :vol-index="volIndex">
                        </assigned-shift>
                        <br>
                    </template>
                    <button @click="assignShift">+</button>
                </td>
                <td>
                    <span v-for="dept in volunteer.desired_departments">
                        <a :href="'/departments#' + dept">{{departmentName(dept)}}</a>
                        <br>
                    </span>
                </td>
                <td>
                    <template v-for="shift in volunteer.desired_shifts">
                        <span class="shift label">
                            <a :href="'/shifts/' + shift" class="label-component">{{shiftName(shift)}}</a>
                        </span>
                        <br>
                    </template>
                </td>
                <td>{{ volunteer.min_shifts }}</td>
                <td>{{ volunteer.max_shifts }}</td>
            </tr>
        </script>
        <script id="assigned_shift_template" type="text/x-vue-template">
            <span :class="{ manual: shift.manual, shift: true, label: true}">
                <a :href="'/shifts/' + shift.id" class="left label-component">
                    {{shiftName}}
                </a><a href="#"
                       @click.prevent="deleteAssignment"
                       class="delete-btn right label-component">&#10005;</a>
            </span>
        </script>
        <script id="modal_dialog_template" type="text/x-vue-template">
            <div :class="{ hidden: !visible }">
                <div class="dialog-background" @click="visible = false"></div>
                <div class="dialog">
                    <slot></slot>
                </div>
            </div>
        </script>
        <script src="/static/vue.js"></script>
        <script type='module'>
            'use strict';

            function formatBoolean(value) {
                return value ? "\u2714" : "\u2716";
            }

            var assigned_shift_component_src = document.getElementById("assigned_shift_template").textContent;
            Vue.component('assigned-shift', {
                props: ['shift', 'shiftName', 'shiftIndex', 'volIndex'],
                template: assigned_shift_component_src,
                methods: {
                    deleteAssignment: function(e) {
                        var volunteer = window.app.volunteers[this.volIndex];
                        var assignedShifts = volunteer.assigned_shifts;
                        assignedShifts.splice(this.shiftIndex, 1);
                        var xhr = new XMLHttpRequest();
                        xhr.open('PUT', '/api/volunteers/' + volunteer.id)
                        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                        xhr.send(JSON.stringify(volunteer));
                    }
                }
            });
            Vue.component('volunteer-table-row', {
                props: ['volunteer', 'volIndex'],
                template: document.getElementById("volunteer_table_row_template").textContent,
                methods: {
                    formatBoolean: formatBoolean,
                    shiftName: function(shiftId) {
                        return window.shiftNamesById[shiftId]
                    },
                    departmentName: function(deptId) {
                        return window.departmentsById[deptId];
                    },
                    assignShift: function() {
                        this.$root.assignShift(this.volIndex);
                    }
                }
            });
            Vue.component('volunteer-table', {
                props: ['volunteers'],
                template: document.getElementById("volunteer_table_template").textContent
            });

            Vue.component('modal-dialog', {
                template: document.getElementById("modal_dialog_template").textContent,
                data: function() {
                    return { visible: false };
                }
            });

            var app = new Vue({
                el: "#app",
                data: {
                    columns: [
                        { label: 'ID', field: 'id', type: 'number' },
                        { label: 'Nachname', field: 'lastname' },
                        { label: 'Vorname', field: 'firstname' },
                        { label: 'U18', field: 'isminor', type: 'boolean', formatFn: (value) => value ? "\u2714" : "\u2716", tdClass: 'vgt-center-align' },
                        { label: 'Zugewiesene Schichten', field: 'assigned_shifts' },
                        { label: 'Wunschbereiche', field: 'desired_departments' },
                        { label: 'Wunschschichten', field: 'desired_shifts' },
                        { label: "Min. #", field: "min_shifts", type: 'number' },
                        { label: 'Max. #', field: 'max_shifts', type: 'number' }
                    ],
                    volunteers: [],
                    shiftNamesById: {},
                    shifts: [],
                    dialog_visible: false
                },
                computed: {
                },
                methods: {
                    formatBool: function(value) {
                        return value ? "\u2714" : "\u2716";
                    },
                    deleteAssignment(e) {
                        debugger;
                    },
                    assignShift: function(volIndex) {
                        this.$refs.assignShiftDialog.volIndex = volIndex;
                        this.$refs.assignShiftDialog.visible = true;
                    },
                    finishAssignShift: function() {
                        this.$refs.assignShiftDialog.visible = false;
                        var assignShiftSelection = document.getElementById("assignShiftSelection");
                        var assignedShift = parseInt(assignShiftSelection.value);
                        var volIndex = this.$refs.assignShiftDialog.volIndex;
                        var volunteer = this.volunteers[volIndex];
                        volunteer.assigned_shifts.push({id: assignedShift, manual: true});

                        var xhr = new XMLHttpRequest();
                        xhr.open('PUT', '/api/volunteers/' + volunteer.id)
                        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                        xhr.send(JSON.stringify(volunteer));
                    }
                }
            });
            var xhr = new XMLHttpRequest();
            xhr.onload = function() {
                var obj = JSON.parse(xhr.responseText);
                app.shifts = obj.shifts;
                var shiftNamesById = {};
                for (let shift of obj.shifts) {
                    shiftNamesById[shift.id] = shift.name;
                }
                window.shiftNamesById = shiftNamesById;
                var deptXhr = new XMLHttpRequest();
                deptXhr.onload = function() {
                    var depts = JSON.parse(deptXhr.responseText);
                    var deptsById = {};
                    for (let dept of depts.departments) {
                        deptsById[dept.id] = dept.name;
                    }
                    window.departmentsById = deptsById;

                    var volunteersXhr = new XMLHttpRequest();
                    volunteersXhr.onload = function() {
                        var obj = JSON.parse(volunteersXhr.responseText);
                        app.volunteers = obj.volunteers;
                    };
                    volunteersXhr.open('GET', '/api/volunteers.json');
                    volunteersXhr.send();
                }
                deptXhr.open('GET', '/api/departments.json');
                deptXhr.send();
            };
            xhr.open('GET', '/api/shifts.json');
            xhr.send();
            window.app = app;
        </script>
    </body>
</html>
